S3method(AIC,sparseLTS)
S3method(BIC,sparseLTS)
S3method(sparseLTS,default)
S3method(sparseLTS,formula)
S3method(sparseLTSGrid,default)
S3method(sparseLTSGrid,formula)
S3method(winsorize,data.frame)
S3method(winsorize,default)
S3method(winsorize,matrix)
export(lambda0)
export(robStandardize)
export(sparseLTS)
export(sparseLTSGrid)
export(standardize)
export(winsorize)
import(Rcpp)
import(RcppArmadillo)
import(stats)
useDynLib(robustHD)
