S3method(AIC,sparseLTS)
S3method(BIC,sparseLTS)
S3method(coef,sparseLTS)
S3method(fitted,sparseLTS)
S3method(predict,sparseLTS)
S3method(print,bicSelect)
S3method(print,perrySparseLTS)
S3method(print,sparseLTS)
S3method(residuals,sparseLTS)
S3method(sparseLTS,default)
S3method(sparseLTS,formula)
S3method(sparseLTSGrid,default)
S3method(sparseLTSGrid,formula)
S3method(winsorize,data.frame)
S3method(winsorize,default)
S3method(winsorize,matrix)
S3method(wt,sparseLTS)
export(corHuber)
export(lambda0)
export(robStandardize)
export(sparseLTS)
export(sparseLTSGrid)
export(standardize)
export(winsorize)
export(wt)
import(MASS)
import(Rcpp)
import(RcppArmadillo)
import(perry)
import(robustbase)
import(stats)
useDynLib(robustHD)
