S3method(AIC,optSparseLTSGrid)
S3method(AIC,sparseLTS)
S3method(AIC,sparseLTSGrid)
S3method(BIC,optSparseLTSGrid)
S3method(BIC,sparseLTS)
S3method(BIC,sparseLTSGrid)
S3method(coef,optSeqModel)
S3method(coef,optSparseLTSGrid)
S3method(coef,seqModel)
S3method(coef,sparseLTS)
S3method(coef,sparseLTSGrid)
S3method(coef,tslars)
S3method(coefPlot,seqModel)
S3method(coefPlot,sparseLTSGrid)
S3method(coefPlot,tslars)
S3method(critPlot,optSeqModel)
S3method(critPlot,optSparseLTSGrid)
S3method(critPlot,seqModel)
S3method(critPlot,sparseLTSGrid)
S3method(critPlot,tslars)
S3method(diagnosticPlot,default)
S3method(diagnosticPlot,optSparseLTSGrid)
S3method(diagnosticPlot,sparseLTS)
S3method(diagnosticPlot,sparseLTSGrid)
S3method(fitted,optSeqModel)
S3method(fitted,optSparseLTSGrid)
S3method(fitted,seqModel)
S3method(fitted,sparseLTS)
S3method(fitted,sparseLTSGrid)
S3method(fitted,tslars)
S3method(fortify,optSparseLTSGrid)
S3method(fortify,sparseLTS)
S3method(fortify,sparseLTSGrid)
S3method(grplars,data.frame)
S3method(grplars,default)
S3method(grplars,formula)
S3method(perry,seqModel)
S3method(perry,sparseLTS)
S3method(perry,sparseLTSGrid)
S3method(plot,optSeqModel)
S3method(plot,optSparseLTSGrid)
S3method(plot,seqModel)
S3method(plot,sparseLTS)
S3method(plot,sparseLTSGrid)
S3method(plot,tslars)
S3method(predict,optSeqModel)
S3method(predict,optSparseLTSGrid)
S3method(predict,seqModel)
S3method(predict,sparseLTS)
S3method(predict,sparseLTSGrid)
S3method(predict,tslars)
S3method(predict,tslarsP)
S3method(print,grplars)
S3method(print,optSparseLTSGrid)
S3method(print,perrySeqModel)
S3method(print,perrySparseLTSGrid)
S3method(print,rlars)
S3method(print,seqModel)
S3method(print,sparseLTS)
S3method(print,sparseLTSGrid)
S3method(print,tslars)
S3method(print,tslarsP)
S3method(residuals,optSeqModel)
S3method(residuals,optSparseLTSGrid)
S3method(residuals,seqModel)
S3method(residuals,sparseLTS)
S3method(residuals,sparseLTSGrid)
S3method(residuals,tslars)
S3method(rgrplars,data.frame)
S3method(rgrplars,default)
S3method(rgrplars,formula)
S3method(rlars,default)
S3method(rlars,formula)
S3method(rtslars,default)
S3method(rtslars,formula)
S3method(rtslarsP,default)
S3method(rtslarsP,formula)
S3method(sparseLTS,default)
S3method(sparseLTS,formula)
S3method(sparseLTSGrid,default)
S3method(sparseLTSGrid,formula)
S3method(tslars,default)
S3method(tslars,formula)
S3method(tslarsP,default)
S3method(tslarsP,formula)
S3method(winsorize,data.frame)
S3method(winsorize,default)
S3method(winsorize,matrix)
S3method(wt,optSparseLTSGrid)
S3method(wt,sparseLTS)
S3method(wt,sparseLTSGrid)
export(coefPlot)
export(corHuber)
export(critPlot)
export(diagnosticPlot)
export(findStepSizes)
export(grplars)
export(lambda0)
export(rgrplars)
export(rlars)
export(robStandardize)
export(rtslars)
export(rtslarsP)
export(sparseLTS)
export(sparseLTSGrid)
export(standardize)
export(tsBlocks)
export(tslars)
export(tslarsP)
export(winsorize)
export(wt)
import(MASS)
import(Rcpp)
import(RcppArmadillo)
import(ggplot2)
import(parallel)
import(perry)
import(robustbase)
import(stats)
useDynLib(robustHD)
